
.contact-content {
    height: 1000px;
    height:100vh;
    display: flex;
    margin-top: 45px;
    padding: 10px;
    position: relative;
    overflow:hidden;
}

.contact-content::after {
    content: "";
    background-image: url('../images/abc.jpg');
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    opacity: 0.25;
    border-radius: 12px;
    z-index: -1;
}