@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

:root {
    --main-bg-color: rgb(223, 98, 98);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;

}

.m-auto {
    margin: auto;
}

.my-2{
    margin-bottom: 12px;
    margin-top: 12px;
}
.my-1{
    margin-left: 60px;
    margin-right: 50px;
}
.btn {
    padding: 0 9px;
    padding-top: 3px;
    margin: 8px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background: var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
.form-box input ,textarea{
    width:52vw;
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 8px;
    margin:7px 0;
    font-size: 15px;
    font-family: var(--font1);
}